<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
</head>
<body>

<p>5 речей, які люди повинні зробити протягом свого життя</p>
<ul style="list-style-type:disc;">
  <li>Посадити дерево</li>
  <li>Купити домівку</li>
  <li>Купити машину</li>
  <li>Зробити ЛР2 з ПДІ</li>
  <li>Закінчити Університет</li>
</ul>

<p>Інструкція відкриття файлу в ОС Windows</p>
<ol type="I">
  <li>Знайти файл</li>
  <li>Навестись на файл</li>
  <li>Зробити дабл клік ЛКМ</li>
</ol>

<p>Три визначення в області вищої математики</p>
<h2 id="I1">Внутрішнє посилання</h2>
<dl>
  <dt>Вища математика</dt>
  <dd> — курс, що входить в
    навчальний план технічних та деяких інших спеціальних
    навчальних закладів, включає в себе аналітичну геометрію,
    елементи вищої алгебри, диференціальне та інтегральне числення,
    диференціальні рівняння.</dd>
  <dt>Функція</dt>
  <dd> — це правило, яке кожному елементу з першої множини — області
    визначення ставить у відповідність елемент з іншої множини —
    області значень.</dd>
  <dt>Інтеграл</dt>
  <dd>— центральне поняття інтегрального числення, узагальнення поняття
    суми для функції, визначеній на континуумі.</dd>
</dl>

<p>Візуальний список</p>
<ol type="1">
  <li>Level</li>
  <ol type="a">
    <li>Level</li>
    <li>Level</li>
  </ol>
  <li>Level</li>
</ol>

<p>Зовнішнє посилання</p>
<a href="www.google.com">Just Google</a>

<p>Внутрішнє посилання</p>
<a href="#I1">Перейти до внутрішнього посилання</a>

</body>
</html>